<a href="https://colab.research.google.com/github/nicholas99212/DS1002/blob/main/Assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd  # Importing relevant package
data = pd.read_csv('https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv') # Importing data using pd.read_csv command

In [2]:
data.shape # Shows rows and columns (25760 rows, 10 columns)

(25760, 10)

In [3]:
data['duration'] = data['duration'].str.strip('minutes') # takes 'duration' column and strips 'minutes' from the data entries.
data['duration'] = data['duration'].astype('int') # takes 'duration' column and turns data into integers

In [4]:
data.dtypes # Shows updated datatypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [5]:
print(data.duration.min()) # Prints minimum value of duration
print(data.duration.max()) # Prints maximum value of duration

1
1372

In [6]:
df = data.query('duration <= 60') # Creates new dataframe, df, that only includes rides that are less than 60 minutes. .query() command used to sort duration column.

In [7]:
print(df.duration.min())
print(df.duration.max())
# New minimum and maximum values of duration for df dataset

1
60

In [8]:
df = df.query('tire_size == 26') # Updates df dataframe, sorting if tire_size is 26. Still maintains previous condition of sorting for rides less than 60 minutes

In [9]:
df[df['user_gender'] == 'Female'].value_counts() # Uses value_counts() function to count how many rows in df with female riders. The tire size and duration restrictions are already included in the df dataframe from previous coding chunks.
# Length = 2962 means that there are 2,962 female riders using the 26-inch wheeled rental bikes for an hour or less.

duration  station_A_id  station_A_name                                    station_B_id  station_B_name                                      bike_id  user_type  user_birth_year  user_gender  tire_size
1         3             Powell St BART Station (Market St at 4th St)      3             Powell St BART Station (Market St at 4th St)        2310     1          1998             Female       26           1
12        81            Berry St at 4th St                                89            Division St at Potrero Ave                          4933     2          1990             Female       26           1
                                                                          15            San Francisco Ferry Building (Harry Bridges Plaza)  5354     3          1981             Female       26           1
                                                                          16            Steuart St at Market St                             2266     3          1990             Female       26           1
                                                                          17            Embarcadero BART Station (Beale St at Market St)    2499     1          1983             Female       26           1
                                                                                                                                                                                                          ..
8         16            Steuart St at Market St                           6             The Embarcadero at Sansome St                       5275     2          1988             Female       26           1
                                                                                                                                            5448     2          1988             Female       26           1
                                                                          19            Post St at Kearny St                                1553     1          1991             Female       26           1
                                                                          21            Montgomery St BART Station (Market St at 2nd St)    1543     2          2000             Female       26           1
60        21            Montgomery St BART Station (Market St at 2nd St)  41            Golden Gate Ave at Polk St                          5069     1          1974             Female       26           1
Length: 2962, dtype: int64

2.

In [10]:
messydata = pd.read_csv('more-messy-data.csv') # loads 'more-messy-data' csv file
messydata.duplicated().sum() # Gives a total of how many duplicated rows there are in messydata

287

In [11]:
messydata = messydata.drop_duplicates() # Updates messydata by dropping all duplicate rows

In [12]:
print(messydata['petal_width'].isna().sum()) # Shows number of missing values in petal_width column
messydata['petal_width'] = pd.to_numeric(messydata['petal_width'], errors = 'coerce') # Converts all non numeric values in petal_width to numeric values, converts any string values to nan by using 'errors = coerce'
print(messydata['petal_width'].isna().sum())  # Shows new number of missing values after converting string values to numeric. This is necessary for the next lines of codes because those functions require numeric values


messydata['sepal_length'] = messydata['sepal_length'].fillna(messydata['sepal_length'].mean()) # Fills all missing values in sepal_length column with the column mean.
messydata['sepal_width'] = messydata['sepal_width'].fillna(messydata['sepal_width'].mean()) # Same as previous code but now for sepal_width instead of sepal_length
messydata['petal_length'] = messydata['petal_length'].fillna(messydata['petal_length'].mean())
messydata['petal_width'] = messydata['petal_width'].fillna(messydata['petal_width'].mean())

81
83

In [13]:
print(messydata.isna().sum()) # Shows number of remaining missing values
messydata = messydata.dropna() # Drops remaining missing values in messydata
messydata.isna().sum() # Shows that there are no missing values now

id               0
sepal_length     0
sepal_width      0
petal_length     0
petal_width      0
species         66
dtype: int64

id              0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [14]:
print(messydata['species'].describe()) # Describes 'species' column. Unique = 10 means that there's 10 different species values
messydata['species'].value_counts() # Shows the different values for species. This will be important for the mapping dictionary in next code chunk

count        963
unique        10
top       setosa
freq         481
Name: species, dtype: object

setosa        481
virginica     444
Versicolor     27
setoso          2
Virginia        2
Virginica       2
Setosa          2
Viginica        1
Setosan         1
versicolor      1
Name: species, dtype: int64

In [15]:
mapping = {'setosa':'Setosa', 'setoso':'Setosa', 'Setosan':'Setosa', 'Setosa':'Setosa',
           'virginica':'Virginica', 'Virginia':'Virginica','Virginica':'Virginica','Viginica':'Virginica',
           'Versicolor':'Versicolor', 'versicolor':'Versicolor'} # Creates a dictionary assigning all the spelling variations of setosa, virginica, and versicolor in messydata to one of these three species names
messydata['species'] = messydata['species'].replace(mapping) # Replaces values in the species column with the 'mapping' dictionary
messydata['species'].describe() # Describes updated values for 'species' columns. Now only 3 unique values

<ipython-input-15-b3f67645744a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  messydata['species'] = messydata['species'].replace(mapping) # Replaces values in the species column with the 'mapping' dictionary

count        963
unique         3
top       Setosa
freq         486
Name: species, dtype: object

3. Bonus

FPV9824

In [16]:
import re # imports relevant package

valid_plate = "^([A-Z]{3}[0-9]{4})$"
# Valid_plate represents any possible plate number given the restrictions. the '^([A-Z]{3}' means that the start of the string ('^') must have 3 capitalized letters between A and Z
# }[0-9]{4})$" means that the end of the string ('$') must have 4 numbers between 0 and 9.
test_list = ['FPV9824', 'AVCD904', 'A1B2C34', '1234ABC','PLR9043','abc1234','^&ABC1234'] # Creating a test list with various valid and invalid license plate numbers

for word in test_list: # For loop for each piece of data in test_list
  if re.match(valid_plate, word): # Tests using re.match command if the entry in test_list is a valid match with valid_plate
    print(word + ' is a match!') # If the entry is a match this will be printed
  else:
    print(word + ' is not a match') # If the entry is not a match then this will be printed

FPV9824 is a match!
AVCD904 is not a match
A1B2C34 is not a match
1234ABC is not a match
PLR9043 is a match!
abc1234 is not a match
^&ABC1234 is not a match